.advance {
  .httprequestget {
    margin-top: 1em;
    margin-bottom: 1em;
    .p-class {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .ul-margin{
      margin-top:20px;
    }
  }
  .routes,
  .ngmodules,
  .templating,
  .styling {
    margin-top: 1em;
    margin-bottom: 1em;
    .p-class {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
