.basic {
  overflow-y: auto;
  .variable {
    margin-top: 1em;
    margin-bottom: 1em;
    .p-class {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .condition, .parse, .objectarray, .event, .method, .arithmetic, .databinding, .export{
    margin-top: 1em;
    margin-bottom: 1em;
    .p-class {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .array {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .object {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
