<!-- rule of responsive 101: main is bootstrap : sub is primefaces -->
<push-notification #notification [title]="name" [body]="content" 
    [icon]="icon"
    (load)="notification.show()" closeDelay="7000">
  </push-notification>
<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">

    <div class="example-scrolling-content">
      <div style="width:270px;"></div>
      <p-accordion>
        <p-accordionTab header="AngularJS 4" [selected]="true">
          <div class="finalcs inside-collapse ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-6" *ngFor="let fixsheet of finalcs">
              <a md-raised-button [routerLink]="['/',fixsheet.link]" routerLinkActive="active" class="">{{fixsheet.name}}</a>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="AngularJS 1">
          Coming soon . . . . . .
        </p-accordionTab>
      </p-accordion>
    </div>
  </md-sidenav>


  <div class="container-fluid">
    <div class="row">
      <md-toolbar color="primary">
        <button class="example-fab2" (click)="sidenav.toggle()">
          <md-icon>. . . </md-icon>
        </button>
      </md-toolbar>
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</md-sidenav-container>
